{{>header cookies=cookies}}
    <div class="chapter">
        <div class="chapter--header">
            <div class="chapter--header__menu">
                <a href=""><i class="fa-solid fa-caret-left"></i></a>
                <select>
                    <option value="">chap {{chapter}}<option>
                </select>
                <a href=""><i class="fa-solid fa-caret-right"></i></a>
            </div>
            <div class="chapter--header__list">
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/2.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/3.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/4.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/5.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/6.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/7.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/8.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/9.jpg" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg0" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg1" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg2" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg3" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg4" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg5" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg6" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg7" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg8" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/1.jpg9" alt="">
                </div>
                <div class="chapter--header__item">
                    <img class="item" src="/public/image/chapter/{{chapter}}/2.jpg0" alt="">
                </div>
            </div>
        </div>
    </div>
{{>footer}}